.navbar {
  margin: 10px;
  border-bottom: "2px solid #000000 ";
  position: sticky;
  background-color: white;
}

.nav-logo {
  float: left !important;
  margin-top: -15px !important;
  margin-right: 20px;
  height: 50px;
  width: 180;
}